<h2>About</h2>
<p>「あなたはどっち派」は、二者択一式アンケート投稿サイトです。</p>
<p>自分の好きなもの、気になったものを気軽に投稿することができます。</p>
<br>
<h3>*注意事項*</h3>
<p>公序良俗に反するものや、他人の権利を侵害し、または他人の迷惑となるものを投稿することは禁止します。</p>
<p>上記に違反する投稿が見つかった場合は、投稿者の許可なく、管理者が削除することがあります。</p>
