/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_fonts
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

@font-face {
  font-family: “uzura”;
  src: url(asset_path("uzura.ttf")) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: “azuki”;
  src: url(asset_path("azuki.ttf")) format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #fff;
  color: #333;
}

header, footer {
  font-family: “uzura”;
}

header button {
  margin: 5px;
}

footer {
  margin-top: 20px;
}

h1,h2,h3,a,ul,li,p,.table,label,button {
  font-family: “azuki”;
}

h1, h2, h3 {
  font-family: “uzura”;
  margin-top: 5px;
}

h3 {
  font-size: 18px;
}

p {
  line-height: 1em;
}

ul {
  list-style-type: none;
  text-align: center;
	margin-left: -10px;
	letter-spacing: -.4em;
}

li {
  display: inline-block;
	margin-left: 10px;
	letter-spacing: normal;
}

a:link {
  color: #6495ed;
  text-decoration: none;
}

a:visited {
  color: #4b6fb3;
  text-decoration: none;
}

a:hover {
  color: #a6bfed;
  text-decoration: none;
}

a:link h1{
  color: black;
  text-decoration: none;
}

a:visited h1{
  color: black;
  text-decoration: none;
}

a:hover h1{
  color: gray;
  text-decoration: none;
}

#notice {
  text-align: left;
  color: #3cb371;
}

#alert {
  text-align: left;
  color: #dc143c;
}

#message {
  text-align: left;
  color: #dc143c;
}

#error_explanation {
  text-align: left;
  color: #dc143c;
}

select {
  width: 200px;
  height: 30px;
}

label {
  margin-bottom: 0px;
  margin-top: 8px;
}

.table {
  text-align: center;
  margin-top: 3px;
}

.table-bordered {
  text-align: left;
}

th {
  vertical-align: center;
}

.title_image {
  margin: 5px;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position : 0% 55%;
}

.top_image {
  margin: 0px 5px 15px 5px;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position : 0% 55%;
}

.about_image {
  margin: 10px 5px 15px 5px;
  width: 70%;
  max-width: 70%;
  height: auto;
  object-fit: cover;
  object-position : 0% 55%;
}

.btn-secondary {
  background: #db9aaf;
  border: #db9aaf;
}

.btn-secondary:hover {
  background: #dbafbd;
}

.btn-info {
  background: #6d94b5;
  border: #6d94b5;
}

.btn-info:hover {
  background: #7f9db5;
}

.navbar-brand {
  width: 500px;
}

.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0);
}

.card-header {
  background-image:
    radial-gradient(#D6EDFA 20%, transparent 20%),
    radial-gradient(#D6EDFA 20%, transparent 20%);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
}

.green {
  color: #66cdaa;
  margin-left: 3px;
}

#sort {
  width: 100px;
  height: 30px;
}

.question .card {
  width: 100%;
  margin-bottom: 10px;
}

.question .card-header {
  text-indent: 1em;
  background: -webkit-repeating-linear-gradient(-45deg,#F5E5EB 0,#F5E5EB 10px,#fff 10px,#fff 20px);
  background: -o-repeating-linear-gradient(-45deg,#F5E5EB 0,#F5E5EB 10px,#fff 10px,#fff 20px);
  background: repeating-linear-gradient(-45deg,#F5E5EB 0,#F5E5EB 10px,#fff 10px,#fff 20px);
}

.question .card-body {
  padding-top: 3px;
  padding-bottom: 0px;
}

.question .card-footer {
  background: #fff;
  padding: 0px 10px 5px 20px;
  border-top: none;
}

.question a:link h3 {
  color: black;
  text-decoration: none;
}

.question a:visited h3 {
  color: black;
  text-decoration: none;
}

.question a:hover h3 {
  color: gray;
  text-decoration: none;
}

.question .card-body ul {
  margin-top: 30px;
}

.canvas-container {
  position: relative;
  width:  calc(100% - 40px);
  height: auto;
  overflow: hidden;
  margin:20px;
}

.pagination {
  font-family: “azuki”;
  justify-content: center;
}

.page,.next,.last,.first,.prev {
  padding: 5px;
}

.center {
  display: flex;
  margin: 0 auto;
  margin-bottom: 3px;
}

.vote {
  margin: 10px;
}