<div class="row">
  <div class="col-md-3">
    <div id="alert">
      <% if model.errors.any? %>
        <% model.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

